.botao {
    background-color: #312783;
    color: white;
    height: 30px; 
    width: 400px;
    padding: 5px 10px;
    border-radius: 40px;
    font-size: 16px;
    margin-top: 15px;
    border: none;
    display: flex; 

    margin-left: auto;
    margin-right: 220px;

    align-items: center;
    justify-content: center;
}

.botoes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.Eliminar {
   background-color: #ccd3f8;
   width: 200px;
   border-radius: 40px;
   justify-content: center;
}

.Baixar{
    width: 210px;
}

.AcessoRapido {
    width: 100%;
    text-align: center;
    margin-top: 15px;    
}

.Gmail {
    width: 0px;
    height: 0px;
    align-items: center;
}