body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}



main input[type="text"],
main input[type="date"],
main input[type="number"],
main input[type="email"],
main input[type="tel"],
main input[type="password"] {
    border: none;
    display: flex;
    background-color: #d9d9d9;
    border-radius: 40px;
    height: 35px;
    margin-bottom: 15px;
    width: 100%;
}


.Geral{
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
    width: 100%;
}

.Box {
    flex: 1;
    display: flex;
    flex-direction: column;
    
}

.titulo {
   display: flex;
   margin-top: 50px;
    margin-bottom: 40px; 
    align-items: center;
    flex-direction: column;
}

.Foto img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px
}
.Foto.img img {
    width: 120px;
    height: 90px;
    margin: 0;
}

.alterar-foto {
    padding: 10px 15px;
    background: #312783;
    color: white;
    border-radius: 5px;
}
div {
    display: block;
}

main h3{
   margin: 20px 0 10px 0;
}

.botao-Azul {
    background-color: #312783;
    color: white;
    height: 30px; 
    width:300px;
    padding: 0;
    border-radius: 20px;
    font-size: 16px;
    margin-top: 15px;
    border: none;
    display: flex; 

    align-items: center;
    justify-content: center;
}

.botao-Branco {
    background-color:#ccd3f8;
    color: black;
    height: 30px; 
    width:300px;
    padding: 0;
    border-radius: 20px;
    font-size: 16px;
    margin-top: 15px;
    border: none;
    display: flex; 

    align-items: center;
    justify-content: center;
}

.acao {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    width: 100%;
}
.barra{
    width: 900px;
    align-items: center;
    justify-content: center;
}
