body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #ffffff;
}

main input[type="text"],
main input[type="date"],
main input[type="number"],
main input[type="email"],
main input[type="tel"],
main input[type="password"] {
    border: none;
    display: flex;
    background-color: #ccd3f8;
    border-radius: 40px;
    height: 25px;
    padding: 5px 0;
    margin-bottom: 5px;
    width: 100%;
}

.titulo {
    padding: 20px 0px; 
    margin-bottom: 20px; 
    text-align: center;
}

.Principal {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px 40px;

    display: flex; 
    flex-direction: column;
}

.principal-form{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; 
}

.Global {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.Alinhar {
    flex: 1;
}

main input {
    width: 350px;
}

.Alinhar-email{
    width: 900px;
    flex-basis: 100%;
}


.Alinhar-UF {
    flex-basis: 30%;
}

.Alinhar-Complemento {
    flex-basis: 30%;
}

.Alinhar-Cidade {
    flex-basis: 30%;
}

.Perfil {
   width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
   
}

.Alinhar-perfil {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}

main h5 {
    display: flex;
    align-items: center;
}

.Foto img {
    width: 170px;
    height: 90px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.Container-Foto {
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    width: 100%;
    max-width: 700px; 
    gap: 80px;
}
